h1 {margin-bottom: 20px;}
.showAllWrap {font-size: 14px; display: inline; margin-left: 30px;}
table {border: 2px outset #007EB6;	padding: 0 10px; width: 98%; margin-left: 5px; border-collapse: separate; border-spacing: 5px;}
table th {text-align: left;padding: 10px 0 10px 10px; font-size: 25px;}
table td {padding: 10px;}
table tr:nth-child(even) {background: #D6DEE2;}
table tr:nth-child(odd) {background: #FFF;}
table tbody tr:nth-child(n+10) {display: none;} /* hide 10+ rows */
#inpCampaignIDNameFilter {width: 690px;padding: 4px 5px;margin-left: 10px;}
#inpCampaignLogFilter {width: 690px;padding: 4px 5px;margin-left: 10px;}
.filterLabel {font-weight: bold;font-family: verdana;font-size: 11px;width: 200px;display: inline-block;}